{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type = "text/css" href="{% static 'style.css' %}"/>
<h1>LikeLion 10th Blog Project</h1>
<br />

<form method="GET" action="{% url 'search' %}">
    <input name="search" type="text">
    <button class="btn btn-primary" type="submit">검색</button>
</form>
<img src="{% static 'lion.jpg' %}" />
<a href="{%url 'new'%}">새 글 작성하기</a>
{% for blog in blogs %}
<div>
    <a href="{%url 'detail' blog.id %}">
    <h5>{{blog.title}}</h5>
    {{blog.created_at}}
    <p>{{blog.summary}}</p>
    </a>
    
</div>
<br />
{% endfor %}
{% if blogs.has_previous %}
<a href="?page=1">처음으로</a>
<a href="?page={{blogs.previous_page_number">이전</a>
{% endif %}

<span> {{ blogs.number }} </span>
<span> / </span>
<span> {{blogs.paginator.num_pages }} </span>

{% if blogs.has_next %}
<a href="?page={{blogs.next_page_number}}">다음</a>
<a href="?page={{blogs.paginator.num_pages}}">마지막으로</a>
{% endif %}

{% endblock %}